<h1>Log In</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <%= form_for @person, url: '/sessions' do |f| %>
        <div class="row">
          <div class="col-md-6">
            <p>Email</p>
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Password</p>
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.submit 'Log In' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
