@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

$limegreen: #83b130;
$darkgreen: #272d2c;
$forestgreen: #323f22;
$blue: #7293a9;
$beige: #d4c3c3;

@mixin blue-box-ul-li {
  li {
    background-color: $blue;
    color: white;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
  }
}

body {
  font-family: 'Slabo 27px', serif;
  h2 {
    background-color: $blue;
    color: white;
    padding: 1em;
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
    margin: 1.5em;
  }
  li {
    margin: 1.5em;
  }
}

#sitter-swap-logo {
  color: $darkgreen;
  text-shadow: 1px 1px 2px $forestgreen;
  h1 {
    font-size: 5em;
    padding-left: .5em;
  }
}

#welcome-header-links, .log-out-button {
  a {
    float: right;
  	background-color: $limegreen;
    color: white;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.about-image {
  max-width: 100%;
}

.family-person-directions { @include blue-box-ul-li; }
