@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-3.3.7.min
 *= require_tree .
 *= require_self
 */

$limegreen: #83b130;
$darkgreen: #272d2c;
$forestgreen: #323f22;
$blue: #7293a9;
$beige: #d4c3c3;

@mixin lime-green-box-links {
  a {
    float: right;
  	background-color: $limegreen;
    color: white;
    display: inline-block;
    margin: .75em;
    padding: 1em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
    box-shadow: 1px 1px 2px $forestgreen;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

@mixin blue-box-ul-li {
  li {
    background-color: $blue;
    color: white;
    display: inline-block;
    margin: 1em;
    padding: .5em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
  }
}

@mixin blue-box-div {
  div, h1 {
    background-color: $blue;
    color: white;
    display: inline-block;
    margin: 1em;
    padding: .5em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
    box-shadow: 1px 1px 2px $forestgreen;
  }
}

@mixin grey-box {
  background-color: $forestgreen;
  color: white;
  margin: 1em;
  padding: 1em;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: .5em;
  box-shadow: 1px 1px 2px $beige;
}

@mixin beige-btn {
  background-color: $beige;
  color: $forestgreen;
  padding: auto;
  margin: 1em;
  box-shadow: 1px 1px 2px $forestgreen;
}

body {
  font-family: 'Slabo 27px', serif;
  h2 {
    background-color: $blue;
    color: white;
    padding: 1em;
    margin: 1em;
    font-size: 2em;
    font-weight: bold;
    box-shadow: 1px 1px 2px $forestgreen;
  }
  p {
    font-size: 1.5em;
    margin: 1.5em;
  }
  li {
    margin: 1.5em;
    list-style: none;
  }
  .btn-submit {
  	background-color: $limegreen;
    color: white;
    margin: 1em;
    padding: 1em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
    box-shadow: 1px 1px 2px $forestgreen;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

#sitter-swap-logo {
  color: $darkgreen;
  text-shadow: 1px 1px 2px $forestgreen;
  h1 {
    font-size: 5em;
    padding-left: .5em;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.form-container {
  color: $forestgreen;
  max-width: 25%;
  margin-left: 40%;
  display: inline-block;
  border-radius: .5em;
}

.log-in-row {
  margin: auto;
}

.about-image {
  max-width: 100%;
}

#how-it-works-img {
  float: right;
  max-width: 50%;
  margin-top: 4em;
  border-radius: .5em;
}

.profile-relationships {
  li {
    font-size: 1.5em;
    margin: 0;
  }
}

.family-person-directions {
  float: right;
  background-color: $limegreen;
  color: white;
  display: inline-block;
  margin: .25em;
  padding: .25em;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: .5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#profile-page-link {
  a {
  	background-color: $beige;
    color: $forestgreen;
    display: inline-block;
    margin: .75em;
    padding: 1em;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: .5em;
    box-shadow: 1px 1px 2px $forestgreen;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

#welcome-header-links { @include lime-green-box-links; }
.log-out-button {@include lime-green-box-links; }
.search-page-header { @include blue-box-ul-li; }
.user-welcome {@include blue-box-div; }
.btn-login {@include beige-btn; }
.log-in-header { @include blue-box-div;
  display: block;
}
.search-bar { @include grey-box;
  padding-left: 3em;
  display: inline-block;
  max-width: 50%;
}
.btn-search{ @include beige-btn; }
